header {
  display: flex;
  align-items: center;
  background: #eee;
  height: 3em;
  padding: 0 0.5em;
}

a {
  display: flex;
  align-items: center;
}

img {
  height: 2.1em;
  padding-right: 0.5em;
}

span {
  font-size: 1.4em;
  font-weight: bold;
}
