/* You can add global styles to this file, and also import other style files */
@import '../node_modules/normalize.css/normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  @media screen and (min-width: 1200px) {
    font-size: 1.3vw;
  }
}

a {
  text-decoration: inherit;
  color: inherit;
}

main {
  margin: 0 auto;
  padding: 0.5em;
  max-width: 50em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.5em 1em;
  border: 0.1em solid #eee;
  background: #eee;

  &:not(:disabled) {
    &:hover {
      border-color: #ddd;
      background: #ddd;
    }
    &:active {
      border-color: #ccc;
      background: #ccc;
    }
    &.primary {
      border-color: #333;
      background: #333;
      color: white;
      &:hover {
        border-color: #444;
        background: #444;
      }
      &:active {
        border-color: #555;
        background: #555;
      }
    }
  }
}

form {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 25em;
}

label {
  margin: 0 0 0.5em;
}

.buttons {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

input {
  padding: 0.5em 1em;
  border: 0.1em solid #eee;
  width: 100%;
}
