/* You can add global styles to this file, and also import other style files */
@import '../node_modules/normalize.css/normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
}

main {
  padding: 0.5em;
}


