h1 {
  font-size: 1.9em;
}

.table {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 40em;
  border: 0.1em solid #666;
}

.row {
  display: grid;
  grid-template-columns: auto 6em;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'label label'
    'category category'
    'price quantity';
  padding: 0.5em;
  &:nth-child(odd) {
    background: #eee;
  }
  &:first-child {
    background: #666;
    color: white;
  }
  &:not(:first-child) {
    cursor: pointer;
    &:hover {
      background: #ddd;
    }
  }

}

.label {
  grid-area: label;
  font-weight: bold;
}
.category {
  grid-area: category;
}
.quantity {
  grid-area: quantity;
  font-weight: bold;
  text-align: right;
}
.price {
  grid-area: price;
}
