h1 {
  font-size: 1.9em;
}

.table {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 50em;
}

.row {
  display: grid;
  grid-template-columns: auto 4em;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'label label'
    'category category'
    'quantity price';
  padding: 0.5em;
  &:nth-child(odd) {
    background: #eee;
  }
}

.label {
  grid-area: label;
  font-weight: bold;
}
.category {
  grid-area: category;
}
.quantity {
  grid-area: quantity;
}
.price {
  grid-area: price;
}
