<main>
  <h1>Liste des références</h1>
  <div class="table">
    <div class="row">
      <div class="label">Libellé</div>
      <div class="category">Catégorie</div>
      <div class="quantity">Quantité</div>
      <div class="price">Prix à l'unité</div>
    </div>
    <div (click)="select(r)" class="row" *ngFor="let r of reference.references">
      <div class="label">{{ r.label }}</div>
      <div class="category">{{ r.category }}</div>
      <div class="quantity">{{ r.quantity }}</div>
      <div class="price">{{ r.price | currency: 'EUR' }}</div>
    </div>
  </div>
</main>
